@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/dm-400.ttf) format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/dm-500.ttf) format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/dm-600.ttf) format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/dm-700.ttf) format("truetype");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/space-400.ttf) format("truetype");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/space-500.ttf) format("truetype");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/space-600.ttf) format("truetype");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/space-700.ttf) format("truetype");
}
